.jumbotron{

  background: #262626 !important;
  color: #efefef !important;
}

.row {
  align-content: center;
  text-align: center;
}

img{
  width: 200px;
}

h1 {
  font-family: 'Luckies Guy', cursive !important;
}

h3 {
  font-family: 'Luckies Guy', cursive !important;
}

p {
    font-family: 'Josefin Sans', sans-serif !important;
}
