.introduction {
  text-align: center;
  height: 100vh;
  margin-bottom: 0 !important;
}

.introduction .container {
  margin-top: 10%;
}

.introduction .projectbutton {
  margin-top: 20px;
}


.picslogo {
  margin-top: 30px;
  height: 125px;
  width: 125px;
}

.projects h2 {
  margin-top: 25px;
}

.projects p {
  margin-top: 20px;
  line-height: 2;
  font-family: 'Varela Round', sans-serif;
}

.projects {
  background-color: #fff !important;
  text-align: center;
  height: 100vh;
  margin-bottom: 0 !important;
}
