/*RECENT COMMIT - CHECKING*/

body {
	background-color: white;
	padding: 0;
	margin: 0;
	font-family: 'Poiret One', cursive;
}

/*.navbar {
	margin-bottom: 0px;
}*/


/*css settings for jumbotron for laptops/desktops/tablets*/

#red {
	color: red;
}

#green {
	color: green;
}

#blue {
	color: blue;
}

.projects h1 {
	font-size: 42px;
}

.projects p {
	font-size: 16px;
}


.navbar {
	font-family: 'Cinzel', serif;
	background: #689bed;
	border: none;

}

.navbar a {
	color: white !important;
	font-weight: bold;
}

.navbar-nav{
	float: none;
	text-align: center;
}


.navbar-nav li {
	display: inline-block;
	float: none;
}

.jumbotron {
	height: 100vh;
	width: 100%;
	text-align: center;
	padding-top: 20%;
	/*margin-bottom: -1.4%;*/
	background-color: #2d2b2b;
	color: white;
	border: none;
}

.introduction {
	height: 100vh;
	width: 100%;
	text-align: center;
	background-color: #efecea;
	margin-top: -2.0%;
	font-family: 'ABeeZee', sans-serif;
	padding-top: 4%;
}

.introduction h2 {
	padding-top: 20px;
}


/*row for project is padded using row1 class and not introduction*/
.row1 {
	padding-top: 11%;
	margin: 0 auto;
}


.imageForIntroduction {
	height: 150px;
	width: 150px;
}

.imageForIntroductions {
	height: 150px;
	width: 200px;
}




.projects {
	height: 80vh;
	background-color: #2d2b2b;
	color: white;
	padding-top: 15%;
	text-align: center;
	padding-top: 15%;
	/*padding-top: 0.1% */
}

.skills {
	height: 80vh;
	background-color: #efecea;
	text-align: center;
	padding-top: 15%;
}

.contactInfo {
	height: 60vh;
	background-color: #2d2b2b;
	color: white;
	text-align: center;
	padding-top: 0.1%;
}

.contactInfo img {
	height: 100px;
	width: 100px;
}

.row2 {
	padding-top: 6%;
	margin: 0 auto;
}




.footer {
	text-align: center;
	width: 100%;
	background-color: #efecea;
	font-family: 'Libre Barcode 39 Text', cursive;
	font-size: 40px;
}

#copyrightsign {
	font-family: arial;
}

@media (max-width: 767px) {
   .jumbotron {
   		padding-top: 50%;
   		/*margin-bottom: -5%*/;
   }

   .introduction {
   		height: 200%;
   		padding-bottom: 15px; 
   		margin-top: -10%;
   		padding-top: 10%;
   }

   .middleAttribute {
   		margin-top: 20%;
   		margin-bottom: 20%;
   }

   .projects {
   		padding-top: 50%;
   }

   .skills {
   		padding-top: 50%;
   }

   .contactInfo {
   		height: 100vh;
   }

   .contactInfo img{
   		margin-top: 20px;
   }

   .navbar-nav{
	float: none;
	text-align: center;
	}

	.navbar-nav li {
	display: inline;
	float: none;
}
}

